//navbar of SAMC

%horizontal-padding {
	padding: 0 5%;

	@media only screen and (max-width: $medium-screen) {
		padding: 0 5%;
	}
}

.samc-nav-not-scrolled {
	@extend %horizontal-padding;
	background-color: transparent;
	color: white;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	transition: ease-in-out 0.2s;
	height: 15vh;
}

.samc-nav-scrolled {
	@extend %horizontal-padding;
	background-color: white;
	color: rgba(black, 0.7);
	text-shadow: none;
	transition: ease-in-out 0.2s;
	height: 10vh;
}

.samc-nav-shadow {
	//box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.samc-nav-brand {
	color: inherit;
	text-decoration-line: none;
	font-size: 26px;
	text-shadow: inherit;

	&:hover {
		text-decoration-line: none;
		color: inherit;
	}
}

.samc-nav-item-container {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}

.samc-nav-menu-button {
	border: 2px solid rgba(black, 0.5);
	padding: 5px 12px;
	border-radius: 5px;
	color: rgba(black, 0.8);
}

.samc-nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	border-radius: 5px;
	transition: 0.2s;
	padding: 0 15px;

	@media only screen and (min-width: $large-screen) {
		padding: 1.4vh 15px;
	}

	&:hover {
		@media only screen and (min-width: $large-screen) {
			background-color: rgba(black, 0.06);
		}

		text-decoration-line: none;
	}
}

.samc-h-padding {
	@extend %horizontal-padding;
}

.samc-nav-fixed {
	background-color: white;
	color: rgba(black, 0.7);
	@extend %horizontal-padding;
	text-shadow: none;
	&:hover {
		text-decoration-line: none;
		color: rgba(0, 0, 0, 0.7);
	}
}

.projects-dropdown {
	display: flex;

	&:hover {
		display: flex;
		flex-direction: column;
		z-index: 11;
	}
}

.samc-fixed-nav {
	position: fixed;
	z-index: 9;
}
